@inject IDataService data
@inject NavigationManager nav

@page "/teacher"

<PageTitle>Список задач</PageTitle>

<h3>Список задач</h3>

<TeacherModal @ref="Modal"></TeacherModal>

<div class="row mb-3">
    <div class="col-auto">
        <button type="button" class="btn btn-success">
            Новая задача
        </button>
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-secondary">
            Фильтры
        </button>
    </div>
</div>

<TaskListGroups Tasks="_tasks" OnFavorite="OnFavoriteHandler" OnNotification="OnNotificationHandler" OnInfo="OnInfoHandler"></TaskListGroups>

@code {
    TeacherModal? Modal { get; set; }

    TaskItemDTO? TaskItem;

    IEnumerable<TaskItemDTO>? _tasks;

    protected override async Task OnParametersSetAsync()
    {
        _tasks = await data.GetAllAsync();
        TaskItem = await data.GetTaskItemAsync(5);
    }

    void OnFavoriteHandler(TaskItemDTO taskItem)
    {
        taskItem.IsFavorite = !taskItem.IsFavorite;
    }

    void OnNotificationHandler(TaskItemDTO taskItem)
    {
        taskItem.IsNotification = !taskItem.IsNotification;
    }

    async Task OnInfoHandler(TaskItemDTO taskItem)
    {
        await Task.Run(() => nav.NavigateTo($"/teacher/shedule/1/{taskItem.Id}"));
        //await Task.Run(() => Modal!.Open(taskItem));
    }
}