<Modal @ref="Modal">
    <Title>@TaskItem!.Name</Title>
    <Body>
    <p>ААААА</p>
    </Body>
    <Footer>
        <button type="button" @onclick="Cancel">Закрыть</button>
    </Footer>
</Modal>

@code {
Modal? Modal { get; set; }
TaskItemDTO? TaskItem { get; set; } = new();

[Parameter, EditorRequired]
public EventCallback<TaskItemDTO> OnSubmit { get; set; }

public void Open(TaskItemDTO taskItem)
{
TaskItem = Clone(taskItem);
Modal!.Open();
}

async Task Submit()
{
await OnSubmit.InvokeAsync(TaskItem!);
await Task.Run(() => Modal!.Close());
}

async Task Cancel()
{
await Task.Run(() => Modal!.Close());
}

TaskItemDTO Clone(TaskItemDTO taskItem)
{
TaskItemDTO taskCopy = new();
taskCopy!.Id = taskItem.Id;
taskCopy!.Name = taskItem.Name;
taskCopy!.Description = taskItem.Description;
taskCopy!.StartTime = taskItem.StartTime;
taskCopy!.EndTime = taskItem.EndTime;
taskCopy!.Location = taskItem.Location;
return taskCopy;
}
}
