<div class="accordion-item border-primary">
    <div class="accordion-header">
        <button type="button" class="accordion-button @AccordStyle" @onclick="ToggleVisibility">
            <h3>
                @Header
            </h3>
        </button>
    </div>
    @if (ShowTasks)
    {
        @if (!Tasks.Any())
        {
            <div class="accordion-body">
                <h4>Похоже на этот день нет задач. Хотите добавить?</h4>
            </div>
        }
        else
        {
            <div class="accordion-body vertical-card-group">
                @foreach (var taskItem in Tasks)
                {
                    <TaskCard TaskItem="taskItem"
                              OnFavorite="() => OnFavorite!(taskItem)"
                              OnNotification="() => OnNotification!(taskItem)"
                              OnUpdate="async () => await OnUpdate!(taskItem)"
                              OnDelete="async () => await OnDelete!(taskItem.Id)"
                              OnInfo="async () => await OnInfo!(taskItem)"/>
                }
            </div>
        }
    }
</div>

@code {
    [Parameter] public string Header { get; set; } = default!;

    [Parameter] public IEnumerable<TaskItemDTO> Tasks { get; set; } = default!;

    [Parameter] public Action<TaskItemDTO>? OnFavorite { get; set; }

    [Parameter] public Action<TaskItemDTO>? OnNotification { get; set; }

    [Parameter] public Func<TaskItemDTO, Task>? OnUpdate { get; set; }

    [Parameter] public Func<TaskItemDTO, Task>? OnInfo { get; set; }

    [Parameter] public Func<int, Task>? OnDelete { get; set; }

    [Parameter]
    public bool ShowTasks { get; set; }

    private string? AccordStyle;
    
    protected override void OnInitialized()
    {
        if (ShowTasks)
        {
            AccordStyle = "";
        }
        else
        {
            AccordStyle = "collapsed";
        }
    }

    private void ToggleVisibility()
    {
        ShowTasks = !ShowTasks;
        if (ShowTasks)
        {
            AccordStyle = "";
        }
        else
        {
            AccordStyle = "collapsed";
        }
    }

}